@mixin full-width {
	margin: 0;
	padding: 0;
	width: 100%;
}

@mixin margin($vertical: 0, $horizontal: 0) {
	margin: $vertical $horizontal;
}

@mixin padding($vertical: 0, $horizontal: 0) {
	padding: $vertical $horizontal;
}

@mixin reset($selectors...) {
	@for $i from 0 to length($selectors) {
		#{nth($selectors, $i + 1)} {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
	}
}

@mixin fill($selectors...) {
	@for $i from 0 to length($selectors) {
		#{nth($selectors, $i + 1)} {
			width: 100vw;
			height: 100vh;
		}
	}
}

@mixin centered($dir, $spacing: space-around, $align: center) {
	display: flex;
	flex-direction: $dir;
	justify-content: $spacing;
	align-items: $align;
}

@mixin set-colors($foreground, $background) {
	color: $foreground;
	background-color: $background;
}

@mixin list-margin($spacing) {
	@include margin($spacing / 2);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin clear-border($radius: 0, $outline-color: #fff) {
	border-width: 0;
	border-radius: $radius;

	&:hover, &:active, &:focus {
		outline-color: $outline-color;
	}
}