@use "library" as lib;

$margin-horizontal: 15vw;
$vertical-spacing: 16px;
$horizontal-spacing: 4px;
$white: #fff;
$accent: #bc7777;
$secondary: #f0f0f0;
$black: #8d8d8d;
$default-opacity: 0.5;
$border-radius: 0.5em;

#root {
	font-family: "Helvetica-Neue", sans-serif;
	@include lib.flex(column, flex-start, center);
}

@include lib.reset(h1, h2, h3, h4, h5, h6, p, div, body, input, #root);
@include lib.fill(body, #root);

@mixin left-right-margin {
	@include lib.margin(0, $margin-horizontal);
}

@mixin left-right-padding {
	@include lib.padding(0, $margin-horizontal);
}

@mixin top-bottom-margin {
	@include lib.margin($vertical-spacing)
}

@mixin top-bottom-padding {
	@include lib.padding($vertical-spacing)
}

@mixin padding {
	@include lib.padding($vertical-spacing, $vertical-spacing)
}

@mixin primary-color {
	@include lib.set-colors($white, $accent);
}

@mixin matte-color {
	@include lib.set-colors($black, $secondary)
}

@mixin background-color {
	@include lib.set-colors($black, $white)
}

@mixin inverted-color {
	@include lib.set-colors($white, $black)
}

#header {
	@include lib.full-width;
	@include top-bottom-padding;
	@include primary-color;

	.container {
		@include left-right-padding;

		&.centered {
			@include lib.flex(row, space-between);
		}
	}
}

#landing {
	@include lib.full-width;
	@include left-right-padding;
	@include lib.flex(column, center, flex-end);
}

form {
	@include padding;
	@include matte-color;
	@include lib.flex(column, center, flex-start);
	@include lib.clear-border($border-radius);

	margin-top: $vertical-spacing;

	div {
		@include lib.flex(row, flex-start);

		.title {
			margin-bottom: $vertical-spacing / 2;
			cursor: pointer;

			&:first-child {
				margin-right: $horizontal-spacing;
			}
		}
	}

	input {
		@include lib.list-margin($vertical-spacing);
	}
}

.field {
	@include lib.clear-border($border-radius, $black);
	@include lib.padding(0.5em, 1em);

	&::placeholder {
		font-style: italic;
		opacity: $default-opacity;
	}
}

.button {
	@include lib.clear-border($border-radius);
	@include lib.padding(0.5em, 1em);
	@include inverted-color;

	&:hover {
		cursor: pointer;
		background-color: $accent;
	}
}

.active {
	color: $accent;
}

.container {
	@include lib.clear-border($border-radius);
	@include left-right-padding;
	@include top-bottom-margin;
	margin-bottom: 0;
	width: 100%;

	&.header {
		@include lib.margin(0, 0);
	}

	&.dashboard {
		@include lib.flex(row);
	}
}

.panel {
	@include lib.clear-border($border-radius);
	@include matte-color;
	width: 100%;
	height: 100%;

	&.buddy {
		@include lib.padding($vertical-spacing, $vertical-spacing);

		h1 {
			font-size: 1.5em;
			padding-bottom: $vertical-spacing / 2;
		}
	}

	&.half {
		width: 50%
	}

	&.quarter {
		width: 25%
	}
}